.Card{

}

.Card_box{
    display: flex !important;
    align-items: center !important;
    line-height: 0 !important;
    gap: 1rem !important;
    padding: 1rem 0 !important;
    border-bottom: 1px solid aqua !important;
    cursor: pointer !important;
}

.Card_box_left{
    border-radius: 50% !important;
}

.Card_box_left_img{

}

.Card_box_right{
    display: grid !important;
    gap: 2rem !important;
}

.Card_box_right_middle{
    margin-top: -1.2rem !important;
}

.Card_box_right_end{

}