

.Filter{
    width: 80% !important;
    margin: 1rem auto !important;
}

.Filter_box{
    display: flex !important;
    justify-content: space-between !important;
}

.Filter_box_left_search{
    display: flex !important;
    align-items: center !important;
    gap: 1rem !important;
    border-radius: 2rem !important;
    padding-inline: 1rem !important;
    background-color: rgba(0,0,0,0.25) !important;
    color: #f18303 !important;
}

.Filter_box_left_search input{
    background-color: transparent !important;
    outline: none !important;
    border: none !important;
    padding: 1rem !important;
    color: #f18303 !important;
    width: 20rem !important;
}

.Filter_box_right{
    display: flex !important;
    gap: 1rem !important;
}

.Filter_box_right button{
    background-color: rgba(0,0,0,0.25) !important;
    outline: none !important;
    border: none !important;
    padding: 1rem 2rem !important;
    color: #f18303 !important;
    border-radius: 2rem !important;
    font-weight: 700 !important;
    display: flex !important;
    align-items: center !important;
    gap: .5rem !important;
    cursor: pointer !important;
   
}

.Filter_model{
    position: fixed !important;
    inset: 0 0 0 0 !important;
    background-color: #292f3f !important;
    z-index: 2222222222 !important;
}

@media only screen and (max-width: 35em) {
    .Filter{
        width: 90% !important;
    }
    .Filter_box{
        flex-direction: column !important;
        gap: 1rem !important;
    }

    .Filter_box_left_search input{
        width: 100% !important;
    };
    .Filter_model{
        position: absolute !important;
        inset: 0 0 -70% 0 !important;
    };

    .Filter_box_right button{
        font-size: .5rem !important;
    }
}