.Modal{
    width: 85% !important;
    margin: 1rem auto !important;
}

.Modal_box{
    display: grid !important;
    grid-template-columns: 1.4fr 1fr !important;
    align-items: center !important;
}

.Modal_box_right h1{
    font-size: 3rem !important;
    color: #f18303 !important;
    line-height: .9 !important;
}

.Modal_box_right h1 span{
    display: block !important;
    font-size: 5rem !important;
}

.Modal_box_right small {
    font-size: 1.2rem !important;
    color: #f18303 !important;
}

.Modal_box_right_name_info{
    display: flex !important;
    align-items: center !important;
    margin-block: 1rem !important ;
    gap: 1rem !important;
    background-color: rgba(0,0,0,0.25) !important;
    padding: 1rem !important;
    border-radius: .5rem !important;
    cursor: pointer !important;
}

.Modal_box_right_name_info input{
    width: 100% !important;
    background-color: transparent !important;
     outline: none !important;
     border: none !important;
     color: #f18303 !important;
}

.Modal_box_right_name_btn {
     display: grid !important;
     grid-template-columns: repeat(2, 1fr) !important;
     gap: 1rem !important;
}

.Modal_box_right_name_btn button {
    background-color: transparent !important;
    outline: none !important;
    border: none !important;
    color: #f18303 !important;
    font-size: 1.2rem !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    background-color: rgba(0,0,0,0.25) !important;
    padding: 1rem !important;
    border-radius: .5rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 1rem !important;
    cursor: pointer !important;
}


@media only screen and (max-width: 35rem) {
    .Modal{
        width: 95% !important;
    }
    .Modal_box{
        grid-template-columns: 1fr !important; 
    }

    .Modal_box_right h1 {
        font-size: 1rem !important;
        line-height: 1.2rem !important;
    }
    .Modal_box_right h1 span{
        font-size: 2.5rem !important;
    }

    .Modal_box_right_name_btn{
        display: grid !important;
        grid-template-columns: 1fr !important;
        z-index: 111111 !important;
    }

}